/*This section is the display-role reset to reset any preset css rules from the browser*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This sets the background color of the entire body to a off white color*/
body {
    background-color: #d9dcd6;
}
/*This section sets the header's padding, font-family, background color, and text color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This sets the h1 element inside the header to have a inline-block display and a font size of 48px*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*This sets the "seo" inside the company name in the heading to a light grey color*/
.header h1 .seo {
    color: #d9dcd6;
}
/*This sets only the top padding, the right margin, the text to the right, and the font family and size*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This sets the unorder list in the header to have no item marker shown*/
.header nav ul {
    list-style-type: none;
}
/*This sets the listed items in the header to have an indent and inline-block display*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*This sets the color of the anchors to have a white color and no decorative lines on text*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Sets the font size in all the p elements*/
p {
    font-size: 16px;
}
/*Adds an image, height, width, bottom margin, position, and size of the image below the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Float for the search engine optimization and social media marketing*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Sets float for the online reputation management*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Sets the width, inline-block display, and indentation for the whole main element*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Sets the whole aside content*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Sets the color and bottom margin of the benefit lead section*/ 
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets the color and bottom margin of the benefit brand section*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/*Sets the color and bottom margin of the benefit cost section*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*These next three rules set the heading elements to have bottom margin and center text align*/
.benefit-lead h2 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h4 {
    margin-bottom: 10px;
    text-align: center;
}
/*These next three rules set the images in the benefit content to have a top and bottom margin of 10px, a block display, and max-width of 150*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Sets the rules for the Search engine optimization section in main*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets the rules for the Online Reputation Management section in main*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Sets the rules for the social media marketing section in main*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*These next three rules set the images in the three different sections of main to have a max height of 200px*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}
/*These next three rules set the heading elements in the three sections of main to have a bottom margin and a font size*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h4 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Sets the rules for the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Sets the h2 element in the footer to have a font size of 20px*/
.footer h2 {
    font-size: 20px;
}
